.wrapper-adm {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: rgba(203, 203, 210, 0.15);
}

.sidebar-adm {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar-adm[data-device="mobile"] {
    display: none;
}

.sidebar-adm.active {
    width: 240px;
}

/* Logo Details */
.sidebar-adm .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px;
}

.sidebar-adm .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar-adm.active .logo-details i {
    /* opacity: 1; */
    text-align: center;
}

.sidebar-adm .logo-details .logo-name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    opacity: 0;
    text-align: center;
    transition: all .5s ease;
}

.sidebar-adm.active .logo-details .logo-name {
    opacity: 1;
}

/* Logo Content */
.sidebar-adm .logo-content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    /* opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease; */
    transition: all 0.5s ease;
}

.sidebar-adm.active .logo-content .logo {
    /* opacity: 1; */
    text-align: center;
}

.sidebar-adm .logo-content .logo i {
    font-size: 28px;
    margin: 0;
}

.sidebar-adm.active .logo-content .logo i {
    margin-right: 5px;
}

.sidebar-adm .logo-content .logo .logo-name {
    font-size: 20px;
    font-weight: 400;
    display: none;
    pointer-events: none;
    transition: all 0.5s ease-in;
}

.sidebar-adm.active .logo-content .logo .logo-name {
    display: block;
}

/* BTN */
.sidebar-adm #btn {
    position: absolute;
    color: #fff;
    /* left: 90%; */
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar-adm.active #btn {
    left: 90%;
}

.sidebar-adm ul {
    margin-top: 20px;
}

.sidebar-adm ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 7px 0;
    /* margin: 7px 5px; */
    list-style: none;
    line-height: 50px;
}

.sidebar-adm ul li .tooltip {
    position: absolute;
    height: 35px;
    left: 122px;
    /* top: 50%; */
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar-adm.active ul li .tooltip {
    display: none;
}

.sidebar-adm ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 999;
    top: 50%;
}

.sidebar-adm ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    top: 0;
    transition: all 0.5s ease;
}

.sidebar-adm ul li .bx-search:hover {
    background: #fff;
    color: #1d1b31;
}

.sidebar-adm ul li input {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    width: 50px;
    padding-left: 55px;
    font-size: 14px;
    color: #fff;
}

.sidebar-adm.active ul li input {
    width: 100%;
}

.sidebar-adm ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar-adm ul li.active a,
.sidebar-adm ul li a:hover {
    color: #11101d;
    background: #fff;
}

.sidebar-adm ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.sidebar-adm .links-name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    font-size: 18px;
}

.sidebar-adm.active .links-name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar-adm .profile-content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar-adm .profile-content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    /* background: #1d1b31; */
    background: none;
    transition: all 0.5s ease;
}

.sidebar-adm.active .profile-content .profile {
    background: #1d1b31;
    /* background: none; */
}

.profile-content .profile .profile-detail {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar-adm.active .profile .profile-detail {
    opacity: 1;
    pointer-events: auto;
}

.profile-image,
.profile-content .profile .profile-detail img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile-content .profile .profile-detail .name-job {
    margin-left: 10px;
}

.profile-content .profile .profile-detail .name {
    font-size: 15px;
    font-weight: 400;
}

.profile-content .profile .profile-detail .job {
    font-size: 12px;
}

.profile #log-out {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
}

.sidebar-adm.active .profile #log-out {
    left: 90%;
    background: none;
}

/* .sidebar-adm.active .profile #log-out {

} */

.profile #log-out:hover {
    color: #ff1332;
    transition: all .5s ease;
}

.sidebar-adm.active~.main-panel {
    width: calc(100% - 240px);
    left: 240px;
}


.sidebar-adm[data-device="mobile"]~.main-panel {
    width: 100%;
    left: 0;
}

.main-panel {
    position: relative;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.navbar-minimize {
    margin-right: 15px;
    font-size: 0.875rem;
}

.navbar-minimize #minimizeSidebar {
    padding: 8px 9px;
    box-shadow: none;
}

.navbar-form {
    padding-left: 15px;
    padding-right: 5px;
}

.main-panel .content {
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
}

.main-panel .card-stats .card-body {
    padding: 15px 15px 0px;
}

.main-panel .card-stats .card-body .numbers {
    text-align: right;
}

.main-panel .card-stats .card-body .numbers p {
    margin-bottom: 0;
}

.main-panel .card .card-category,
.main-panel .card label {
    font-size: 0.875rem;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.main-panel .card-stats .card-title {
    margin: 0;
    color: #333333;
    font-weight: 300;
}

.main-panel .card-stats .card-footer {
    padding: 0px 15px 10px 15px;
}

.main-panel .card-stats .card-footer {
    background-color: transparent;
    line-height: 30px;
    border-top: none !important;
    font-size: 14px;
}

.main-panel .card .card-header {
    padding: 15px 15px 0;
    background-color: #FFFFFF;
    border-bottom: none !important;
}

.main-panel .card .card-title {
    margin: 0;
    color: #333333;
    font-weight: 300;
}

.main-panel .card .card-category,
.main-panel .card label {
    font-size: 0.875rem;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.main-panel .card-tasks .table-full-width {
    padding-bottom: 0 !important;
}

.table-full-width {
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px !important;
}

.main-panel .card-tasks .table tbody td:first-child {
    padding-left: 0;
}


.card-tasks .table tbody td:last-child {
    padding-right: 0;
    display: inline-flex;
}

.card-tasks .table tbody td:last-child .btn {
    padding: 4px 7px;
    margin-right: 8px;
}

.table .btn-link {
    color: #f3f3f3;
}


.table .td-actions {
    min-width: 90px;
}

.table .td-actions .btn.btn-danger:hover,
.table .td-actions .btn.btn-info:hover {
    color: white;
}

.main-panel .card-stats .icon-big {
    font-size: 3em;
    min-height: 64px;
}

.main-panel .card-stats .icon-big i {
    line-height: 59px;
}

.show .dropdown-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}

.dropdown-menu {
    visibility: hidden;
    margin: 0;
    padding: 0 !important;
    border-radius: 10px;
    display: block;
    z-index: 9000;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
}

/* .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */

.navbar .navbar-nav .nav-item .nav-link {
    color: #888888;
    padding: 12px;
    margin: 0 3px;
    position: relative;
    display: inline-flex;
    font-size: 16px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #23CCEF;
}

.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu.dropdown-menu-right::before,
.dropdown-menu.dropdown-menu-right::after {
    right: 12px !important;
    left: auto !important;
}

.navbar .navbar-nav .nav-item .dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.navbar .navbar-nav .notification {
    position: absolute;
    background-color: #FB404B;
    text-align: center;
    border-radius: 12px;
    min-width: 16x;
    padding: 0 5px;
    height: 16px;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 16px;
    top: 2px;
    left: 7px;
}

.dropdown-menu {
    color: #212529 !important;
    text-align: left !important;
    list-style: none !important;
    min-width: 2rem !important;
    width: auto;
}

.navbar-nav .nav-item .dropdown-menu::before {
    border-bottom: 8px solid rgb(216 216 216 / 46%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    left: 18px;
    top: -8px;
    background: #fff;
}

.dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 16px;
}

.dropdown-menu .dropdown-item {
    padding: 6px 5px;
    color: #333333;
    font-size: 12px;
}


.tab-pane {
    padding: 15px 0;
}

.head-chat {
    width: 100%;
    background: #11101d;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-chat i {
    font-size: 25px;
    margin-left: 14px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
}

.head-chat i:hover {
    color: #08f161;
}

.search-box {
    background: #ccccb3;
    padding: 10px 13px;
}

.search-box .input-wrapper {
    background: #fff;
    border-radius: 40px;
}

.search-box .input-wrapper i {
    color: gray;
    vertical-align: middle;
    margin: 0 7px;
}

.search-box .input-wrapper input {
    border: none;
    border-radius: 40px;
    width: 80%;
    height: 100%;
}

.search-box .input-wrapper input::placeholder {
    color: #b9b9b9;
    font-weight: 300;
    margin-left: 20px !important;
}

.b-right {
    border-right: 1px solid #868686;
}

.search-box .input-wrapper input:focus {
    outline: none;
}

.list-novel {
    height: 450px;
    overflow: auto;
}

.novel-drawer {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: .3s ease;
    border-bottom: 1px solid #dfdfdf;
}

.novel-drawer-header {
    background: #11101d;
    border: 0;
}

.novel-drawer .description {
    margin-left: 12px;
    width: 70%;
}

.novel-drawer .description .h6 {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 16px;
}

.novel-drawer .description p {
    margin: 0;
    font-size: 12px;
}

.novel-drawer .description .time {
    color: grey;
}

.novel-drawer-onhover:hover {
    background: #ccccb3;
    cursor: pointer;
}

.novel-drawer-onhover:hover .h6,
.novel-drawer-onhover:hover p,
.novel-drawer-onhover:hover .time {
    color: #fff;
}

.comment-panel {
    height: 100%;
    overflow: auto;
}

.comment-panel .comment-bubble .h6 {
    display: flex;
    justify-content: space-between;
}

.comment-panel .comment-bubble .h6 i {
    vertical-align: middle;
    transition: .3s ease;
}

.comment-panel .comment-bubble .h6 i:hover {
    cursor: pointer;
    color: red;
}

.comment-panel .comment-bubble {
    background: #f1f1f1;
    padding: 10px 14px;
    width: auto;
    margin: 10px 14px;
    border-radius: 8px;
}

.comment-panel .comment-bubble p {
    margin-bottom: 6px;
}

.comment-panel {
    height: 500px;
}

select.genre option {
    cursor: pointer;
}

select.genre option.selected,
select.genre option:hover {
    background: #f1f1f1;
    color: #333;
}

.novel-detail .synopsis p {
    margin-bottom: .5rem;
    font-size: 16px;
    text-align: justify;
}

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    justify-content: center;
}

.pagination>.active>a {
    background-color: #47ccde;
    border-color: #47ccde;
    color: #fff;
}

.pagination>li>a {
    border: 1px solid #47ccde;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #47ccde;
    border-color: #47ccde;
    outline: none;
}

.pagination>li>a,
.pagination>li>span {
    color: #47ccde
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: unset
}

.table {
    word-wrap: break-word;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 12px 8px;
    padding-bottom: 12px;
    padding-left: 8px;
    vertical-align: middle;
    border-color: #E3E3E3;
}

.table thead th {
    border-bottom: none !important;
    border-top: none !important;
}

.table.table-novel .img-container {
    width: 70px;
    height: 100px;
    overflow: hidden;
    display: block;
    border-radius: 6px;
}

.table .td-name {
    min-width: 240px;
}

.table tbody td:last-child {
    padding-right: 10px !important;
}

.table .td-actions {
    width: 170px;
    min-width: auto;
}

.table.table-novel .td-actions {
    width: 60px;
    min-width: auto;
}

.table > tbody > tr .td-actions .btn {
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
    opacity: .6;
}

.table > tbody > tr .numbers {
    width: 50px;
    min-width: auto;
}

.table > tbody > tr .td-actions .btn:hover {
    opacity: 1;
    filter: alpha(opacity=100) !important;
}

.table > tbody > tr:hover .td-actions .btn {
    opacity: 1;
    filter: alpha(opacity=100) !important;
}

.table-novel .btn-info.btn-link:hover {
    color: #028ba7 !important;
}

.table-novel .btn-info.btn-link {
    color: #23CCEF !important;
}

.table-novel .btn-warning.btn-link:hover {
    color: #e98000 !important;
}

.table-novel .btn-warning.btn-link {
    color: #FFA534 !important;
}

.table-novel .btn-success.btn-link:hover {
    color: #87CB16 !important;
}

.table-novel .btn-success.btn-link {
    color: #a0ee23 !important;
}

.table-novel .btn-danger.btn-link:hover {
    color: #dd0312 !important;
}

.table-novel .btn-danger.btn-link {
    color: #FB404B !important;
}

.table-novel .btn.btn-link {
    border-color: transparent !important;
    background-color: transparent !important;
    box-shadow: none;
}

.genre-page .genre-header {
    display: flex;
    justify-content: space-between;
}

.genre-page .genre-header .btn{
    border-radius: 50%;
}

.genre-page .genre-header .btn i{
    font-weight: 700;
}

.form-add-genre {
    display: none !important;
    background-color: #7190b8;
}

.form-add-genre.show {
    display: flex !important;
    transition: all .5s ease;
}

.chapter .header-chapter {
    padding: .5rem 0 1rem;
    margin-bottom: 14px;
}

.chapter .header-chapter .sub {
    display: flex;
    width: 100%;
}

.chapter .header-chapter .sub span {
    margin-right: 1em;
}

/* .chapter .header-chapter .sub .time i{
} */
.chapter .header-chapter .sub i,
.chapter .header-chapter .sub i{
    vertical-align: middle;
    margin-right: 3px;
}

.chapter .content {
    padding: 0;
    text-align: justify;
    font-size: 18px;
}
/* 
.detail-sinopsis {
    text-align: justify;
}

.detail-sinopsis p{
    font-size: 18px;
} */